body {
    font-family: 'Poppins';
}

.navbar {
    background-color: #036BA1;
}


/*  */
/* MAIN */
/*  */

.background {
    background: rgba(0, 0, 0, 0.1) url("../assets/fondecran.jpg");
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}


.cartefrance img{
    object-fit: cover;
    width: 80%;
    height: auto;
}

.badge{
    color:black;
    background-color: #036BA1;
}

.today:hover{
    background-color: #FFE156;
    color: black;
}


.star{
    color: #FFE156;
}

.card{
    background-color: #014d7565;
}

/*  */
/* FOOTER */
/*  */

.rs {
    width: 3rem;
    height: auto;
}

.footer {
    background-color:#036BA1 ;

}

/*  */
/* ARTICLES */
/*  */

.innondations img{
    width: 100%;
    height: auto;
}

/*  */
/* VILLES */
/*  */

#lh{
    display: inline;
}

.imageVille{
    width: 100%;
    height: 10Rem;
}

::placeholder{
    font-style: italic;
}

.background {
    background: rgba(0, 0, 0, 0.1) url("../assets/fondecran.jpg");
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

@media screen and (min-width:600px) {
    .cartes {
        width: 70%;
        height: 80%;
        background-color: rgb(255, 231, 235);
    }
}

.displaynone{
    display: none;
}


.pink {
    color: #DB0084
}